# Created by https://www.toptal.com/developers/gitignore/api/audio,compressed,video
# Edit at https://www.toptal.com/developers/gitignore?templates=audio,compressed,video

### Audio ###
*.aif
*.iff
*.m3u
*.m4a
*.mid
*.mp3
*.mpa
*.ra
*.wav
*.wma
*.ogg
*.flac

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.WAV
*.WRD
*.TXT
*.PHN
*.wandb

### Compressed ###
*.7z
*.deb
*.gz
*.pkg
*.rar
*.rpm
*.sit
*.sitx
*.tar
*.zip
*.zipx
*.tgz

### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm

# End of https://www.toptal.com/developers/gitignore/api/audio,compressed,video
*.2
*.7
*.6
*.3
*.4
*.5
*.0
*.1
x-vector/.ipynb_checkpoints/prueba-checkpoint.ipynb
x-vector/.ipynb_checkpoints/Embeddings-checkpoint.ipynb
x-vector/.ipynb_checkpoints/Untitled-checkpoint.ipynb
